*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Barlow, sans-serif;
}
footer{
    background-color: #171717;
    padding-top: 30px;
    cursor: pointer;
    margin-top: 50px;
}
.footer-container{
    width: 1300px;
    margin: auto;
}
footer .top{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
footer .top .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 30px;
}
footer .top .logo h1{
    font-size: 25px;
    color: #FF7200;
    margin-left: 10px;
}
footer .top img{
    width: 30%;
}footer .top .information{
    padding: 0 15px 30px;
}
footer .top .information p{
    padding: 0 0 20.8px;
    font-family: Barlow, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
footer .bottom{
    width: 100%;
    height: 45%;
    margin-bottom: 30px;
}
footer .rowss{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
footer .rowss i{
    color: #FF7200;
    font-size: 14px;
    margin-right: 5px;
}
footer .rowss .rows span{
    font-size: 16px;
    font-family: Barlow, sans-serif;
    letter-spacing: 0.5px;
}
footer h2{
    font-size: 18px;
    padding-bottom: 20px;
}
footer .items{
    margin-bottom: 10px;
    font-size: 16px;
}
footer .bottomm{
    width: 100%;
    height: 15%;
}
footer .bottomm .icon{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}
footer .bottomm .icon a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}
footer .bottomm .icon a i{
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
footer .bottomm .icon a #icon1:hover{
    color: #3B5998;
    background-color: #fff;
}
footer .bottomm .icon a #icon2:hover{
    color: #ff0000;
    background-color: #fff;
}
footer .bottom3{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF80;
    font-family: Barlow, sans-serif;
    letter-spacing: 0.5px;
    border-top: 1px solid #FFFFFF80;
    display: flex;
    align-items: center;
    justify-content: center;
}